@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-commissioner);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Commissioner", sans-serif;
}

header {
  background-image: url('/BackgroundHome.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1536px) {
  .header-2xl {
    min-height: calc(95vh);
  }
  
  @media (max-height: 900px) {
    .header-2xl {
      min-height: calc(112vh);
    }
  }
}